<h1>Log In</h1>

#TODO_MUST: i18n show flash message!!!! MUST
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :account %><br />
    <%= text_field_tag :account, params[:account] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br /> 
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>