<p>
  <h1><%= t(".title")%></h1>
  <%= link_to t(".upload"), new_photo_path %><br />
  <% if session[:tweet_access_token].present? %>
    <%= t(".tweet_linked") %>
  <% else %>
    <%= link_to t(".link_with_tweet"), @oauth2_tweet_authorize_url %>
  <% end %>
</p>

<p>
  <div class="flex">
    <% @photos.each do |photo| %>
      <div class="cell">
        <div class="grey_border">
          <%= photo.title %><br>
          <div class="image_container">
            <% if photo.image_file.attached? %>
              <%= image_tag(url_for(photo.image_file), class: "image_file") %>
            <% end %>
          </div>
        </div>
        <% if session[:tweet_access_token].present? %>
          <div class="tweet_button">
            <%= button_to t(".tweet"), { controller: :tweet_api, action: :create, photo_id: photo.id } , method: :post  %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</p>
